absl-py
astor
gast
google-pasta
grpcio
h5py
Keras-Applications
Keras-Preprocessing
Markdown
numpy
opencv-python
Pillow
protobuf
PyQt6
scipy
# shiboken2
six
tensorboard
tensorflow-estimator
tensorflow
termcolor
Werkzeug
wrapt
